@model Proyecto.Application.DTOs.TarjetaDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Crear Tarjeta</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="crear">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdTarjeta" class="control-label"></label>
                <input asp-for="IdTarjeta" class="form-control" />
                <span asp-validation-for="IdTarjeta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionTarjeta" class="control-label"></label>
                <input asp-for="DescripcionTarjeta" class="form-control" />
                <span asp-validation-for="DescripcionTarjeta" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<br />



<br />
<div id="contenedor"></div>
<div id="loader" class="xxxx"></div>
<br />

@section Scripts {
    <script type="text/javascript">

        document.getElementById("crear").addEventListener("submit", function (event) {
            // Detener la propagación del evento
            event.preventDefault();
            event.stopPropagation();

            // Verificar si el formulario es válido
            if (event.target.checkValidity()) {
                // Mostrar el mensaje de confirmación
                Swal.fire({
                    title: '¿Estás seguro?',
                    text: '¿Deseas guardar los cambios en esta Tarjeta?',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sí, guardar cambios',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    // Si el usuario confirma, enviar el formulario
                    if (result.isConfirmed) {
                        onBegin();
                        setTimeout(function () {
                            document.getElementById('crear').submit();
                        }, 1000); // Esperar 3 segundos antes de enviar el formulario
                    }
                });
            } else {
                console.log("Faltan datos por agregar");
                // Si el formulario no es válido, no hacer nada
            }
        });

        function onBegin() {
            console.log("onBegin")
            document.getElementById("loader").className = "loading";
        }

    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
